hmtl {
    height: 100%;
}

body {
    display: flex;
    font-size: 5rem;
    background-image: linear-gradient(to bottom, var(--azul-claro1), var(--azul-escuro));
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100%;
}


/* estilos do cabeçalho com flex */

.header {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3rem;
    transition: ease 500ms;
}

.logo {
    width: 10rem;
    height: 10rem;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav-item {
    padding: 1rem;
}


/* estilos relacionados a parte principal da página */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.main__title {
    font-size: 3rem;
    padding: 5rem;
    font-weight: 700;
}

#checkbox-menu {
    opacity: 0;
}


/* estilos da pagina trilhas */

.main__list {
    margin: 5rem 2rem;
    align-self: center;
    width: 80rem;
}

.main__list-title {
    font-weight: 700;
    font-size: 2.5rem;
}

.main__list li {
    padding: 1rem;
    list-style-type: disc;
}

.text {
    background-color: var(--branco);
    color: #000;
    width: 40rem;
    border-radius: 3rem;
    padding: 3rem;
    font-size: 1.5rem;
    margin: 2rem;
}

.text__title {
    font-size: 3rem;
    color: var(--verde);
    border-left: 1rem solid var(--verde);
    padding: 2rem;
    font-weight: 700;
    margin: 2rem;
}


/* edicao dos cards */

.trails {
    display: block;
    color: var(--branco);
}

.trails__cards {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--azul-claro1);
    border-radius: 2rem;
    margin: 2rem;
    transition: ease 300ms;
}

.trails__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
}

.trails__list {
    list-style: disc;
    padding: 2rem;
}

.trails__list-items {
    padding: 1rem 0 1rem 0;
}

.trails__images {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.trails__images-items {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
}

#three {
    display: flex;
    height: 100%;
    align-self: center;
    margin-top: 8rem;
}

#scratch {
    width: 30rem;
    height: 20rem;
}

#python {
    width: 23rem;
    height: 25rem;
}

.trails__cards:hover {
    border: .4rem solid var(--cinza2);
    cursor: pointer;
}

.trails__cards:active {
    border: .4rem solid var(--verde-claro);
    cursor: pointer;
}


/* rodape da pagina */

.footer {
    display: flex;
    background-color: var(--azul-escuro2);
    height: 100%;
    padding: 4rem;
    justify-content: space-around;
}

.companies {
    display: flex;
    justify-content: space-between;
    width: 50rem;
}

.social {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

.social__links {
    width: 6rem;
    height: 6rem;
}


/* edicao da barra de rolagem */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--cinza2);
}

*::-webkit-scrollbar {
    width: 1.2rem;
}

*::-webkit-scrollbar-track {
    background: var(--cinza2);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--branco);
    border-radius: 2rem;
    border: .3rem solid var(--cinza2);
}


/* editando a página de contato */

.main__box {
    margin: 2rem;
}

.main__box-form {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 1rem;
}

.form-input {
    margin: 1rem;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
}

.form-label {
    color: black;
}

.form-button {
    padding: 1rem 30%;
    font-size: 3rem;
    background-color: var(--verde-claro);
    border: none;
    border-radius: .6rem;
    color: white;
    cursor: pointer;
}


/* fazendo os media queries para o responsivo */

@media screen and (max-width: 768px) {
    /* estilos do botao mobile */
    .header__nav-list {
        display: none;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #checkbox-menu {
        position: absolute;
        opacity: 0;
    }
    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 2.2rem;
        width: 3rem;
    }
    label span {
        position: absolute;
        display: block;
        height: .5rem;
        width: 100%;
        border-radius: 3rem;
        background: #ABDBAD;
        transition: 0.25s ease-in-out;
    }
    label span:nth-child(1) {
        top: 0;
    }
    label span:nth-child(2) {
        top: .8rem;
    }
    label span:nth-child(3) {
        top: 1.6rem;
    }
    #checkbox-menu:checked+label span:nth-child(1) {
        transform: rotate(-45deg);
        top: .8rem;
    }
    #checkbox-menu:checked+label span:nth-child(2) {
        opacity: 0;
    }
    #checkbox-menu:checked+label span:nth-child(3) {
        transform: rotate(45deg);
        top: .8rem;
    }
    /* 
    *
    */
    .logo.checked {
        align-self: center;
        margin-bottom: 1rem;
    }
    .header.checked {
        height: 200%;
        flex-direction: column;
        z-index: 1000;
        transition: ease-in 300ms;
    }
    .header__nav-list.checked {
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin-bottom: 60%;
        background-color: var(--verde);
    }
    .header__nav-item.checked {
        border-bottom: .1rem solid lavender;
        width: 100%;
        align-self: center;
        text-align: center;
    }
    /* 
    *
    */
    /* parte principal responsiva */
    .main__title {
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0;
    }
    .text {
        width: 100vw;
        border-radius: 0%;
        margin: 0;
        padding: 0;
    }
    .text__title {
        text-align: center;
    }
    .text p {
        font-size: 2rem;
        text-align: justify;
        padding: 0 1rem;
    }
    /* cards responsivos */
    .trails__cards {
        flex-direction: column;
        margin: 1rem;
    }
    .trails__cards:hover {
        border: none;
        cursor: pointer;
    }
    /* rodape responsivo */
    .companies,
    .companies__links,
    .social,
    .social__links {
        flex-direction: column;
        margin: 0;
    }
    .companies {
        width: 20rem;
    }
    .companies__links {
        padding: 1rem;
    }
    .social__links {
        padding: 1rem;
    }
    /* responsivo da pagina de trilhas */
    .main__list {
        width: 100vw;
    }
    .main__list-title {
        text-align: center;
    }
    /* responsivo da pagina de contato */
    .main__box,
    .main__box-form {
        margin: 0;
    }
    .main__box-form {
        padding: 1rem 0;
        border-radius: 0;
        width: 100vw;
    }
    .form-button {
        padding: 1rem;
        border-radius: 0;
    }
}